= render partial: 'banner'
= render partial: 'about'
= render partial: 'services'
= render partial: 'team'
= render partial: 'projects'
= render partial: 'stats'
= render partial: 'reviews'
= render partial: 'contacts'
