= form_with(model: [ @gallery, @gallery.images.build ], local: true) do |form|
  - if @image.errors.any?
    #error_explanation
      %h2= "#{pluralize(@image.errors.count, "error")} prohibited this image from being saved:"
      %ul
        - @image.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :gallery
    = f.text_field :gallery
  .actions
    = f.submit 'Save'
